:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --iris: #4d5ae5;
  --pressed-state: #404bbf;
  --naviblue: #2e2f42;
  --Success: #31d0aa;
  --slate: #434455;
  --Subtle-Text: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --Modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --Modal-background: #fcfcfc;
  --white: #ffffff;
}

body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}
/* header */
.logo-studio {
  color: var(--iris);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio-dark {
  color: var(--naviblue);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.logo-studio-light {
  color: var(--cloud);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.link-menu-studio {
  color: var(--naviblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  :hover,
  :focus {
    color: #404bbf;
  }
}
.link-menu-portfolio {
  color: var(--naviblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
  list-style: none;
  :hover,
  :focus {
    color: #404bbf;
  }
}

.link-menu-contacts {
  color: var(--naviblue);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  :hover,
  :focus {
    color: #404bbf;
  }
}
.list-address {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.list {
  list-style: none;
  text-decoration: none;
}
.link {
  text-decoration: none;
  list-style: none;
}

/* main */

.dark-bg {
  background-color: var(--hero-background);
}
.effective {
  color: var(--white);
  text-align: center;
  line-height: 1.07;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}
.btm-effective {
  background-color: var(--iris);
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  :hover,
  :focus {
    background-color: #404bbf;
  }
  cursor: pointer;
}
/* section 2 */
.subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--hero-background);
}
.desc {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* section 3 */
.subtitle-section-img {
  text-transform: capitalize;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--hero-background);
}
/* section 4 */
.section-team {
  background-color: var(--cloud);
}
.subtitle-section-team {
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--hero-background);
}
.list-team-img {
  background-color: #ffffff;
}

.desc-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* footer */
.footer {
  background-color: var(--naviblue);
}
.footer-text {
  color: var(--cloud);
  letter-spacing: 0.02em;
  line-height: 1.5;
}
