:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway";
  --iris: #4d5ae5;
  --Pressed-state: #404bbf;
  --naviblue: #2e2f42;
  --Success: #31d0aa;
  --slate: #434455;
  --Subtle-Text: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --Modal-overlay: #2e2f42;
  --Hero-background: #2e2f42;
  --Modal-background: #fcfcfc;
  --white: #ffffff;
}

body {
  font-family: var(--primary-font);
  color: var(--slate);
  background-color: var(--white);
}
.nav {
}
.logo-studio {
  color: var(--iris, #4d5ae5);
  font-family: var(--secondary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}
.logo-studio-dark {
  color: var(--navyblue, #2e2f42);
  font-family: Raleway;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 21px; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
